body{
    background:rgb(139, 139, 200);
    margin: 0;
    color: rgba(25, 25, 28, 1);
    font: 400 18px/28px Inter;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.header_name{
    display: flex;
    justify-content: center;
    color: rgb(8, 59, 59);
}

.header_text{
    margin: 100px;
    padding: 100px;
    background-color: azure;
    color: #d33195;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    color:white;
    font-size: 1em;
    justify-content: center;
    line-height: 30px;
    letter-spacing: 5px;
}


.main__text{
    background-color: #bfeb89;
    padding: 35px 50px;
}

.heder-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    padding: 30px;
    border: 10px solid rgb(215, 219, 153);
    
}

.main__text {
    background-color: rgb(248, 196, 133);
    border: 10px solid rgb(193, 74, 74);
}
.main__heder__3 {
    background-color: rgb(166, 241, 216);
    color: #305304;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 150%;
    padding: 20px;
    border: 5px solid rgb(173, 55, 55);
}


.footer{
    background-color: darkkhaki;
    margin: 0;
    color: rgba(25, 25, 28, 1);
    font: 400 18px/28px Inter;
    width: 1440px;
}

.footer__title{
    font-size: x-large;
}

.footer__item{
    display: flex;
    /* justify-content: space-between; */
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;
    color: #305304;
    text-decoration: none;
}