.body {
    font-size: 22px;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    background-color:  rgba(43, 43, 43, 1) ;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0px;
} 

.header container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} 

.nav_logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 243px;
    margin-top: 9px;
    padding-left: 50px;
    gap: 12px;
}

.nav__logo-img { 
    column-gap: 10px;
}

.nav_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    column-gap: 30px;
}

.nav-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.nav-link {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px; 
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.nav-link:hover {
    background-color:  rgb(103, 101, 101) ;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.btn-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 19px 30px 19px 30px;
    background-color: rgba(162, 89, 255, 1);
    border-radius: 20px;  
}

.btn-button_create_button {
    display: flex;
    justify-content: left;
    width: 330px;
    max-height: 46px;
    padding: 0px;
    text-align: center;
    border-radius: 20px; 
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid ;
    border-color: rgba(133, 133, 132, 1);
}

.button_confirm {
    display: flex;
    justify-content: center;
    background-color: rgba(162, 89, 255, 1);
}

.nav__user-img {
    display: flex;
    padding-right: 12px;
}

.create_nav_img {
    padding: 12px 0px 12px 20px;
}

.btn-button_sing_up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link button {
    max-width: 60;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
} 

.create_button_link {
    max-width: 258px;
    padding: 12px 20px 12px 12px;
    color: rgba(43, 43, 43, 1);
    font-weight: 400;
    letter-spacing: 1px;
}

.create_button_link link_confirm {
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    padding: 12px 104,5px 12px 104,5px;
}

.create_button_link:hover {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1px;
    max-width: 258px;
    max-height: 44px;
    border: 2px solid;
    border-color: rgba(162, 89, 255, 1);
}

.link_confirm:hover {
    color: rgba(43, 43, 43, 1);
}

.burger {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 797px) {
    .nav_logo_header { 
        max-width: 180px;
        margin-top: 9px;
        padding-left: 30px;
        gap: 10px;
    }

    .burger {
        display: block;
    }

    .burger:hover ~ .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 20px;
        padding-top: 20px;
    }
 
    .btn-button {
        max-width: 90px;
        max-height: 45px;
    }

    .nav-list {
        display: none;
    }

    .nav-link {
        font-size: 10px;
        line-height: 14px; 
        align-items: flex-start;
    }

    .nav-link button {
        font-size: 10px;
        line-height: 12px; 
        max-width: 50px ;
    }
}

@media screen and (min-width: 798px) and (max-width: 1023px) {
    .burger {
        display: block;
    }

    .burger:hover ~ .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 20px;
        padding-top: 20px;
    }
}

@media screen and (min-width: 798px) and (max-width: 1023px) {
    .nav_logo_header {
        max-height: 24px;
        max-width: 282px;
        margin-top: 9px;
        padding-left: 50px;
        gap: 10px;
    }

    .nav-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px; 
        align-items: flex-start;
    }

    .nav-link button {
        font-size: 12px;
        line-height: 14px; 
    }

    .nav-list {
        display: none;
    }
}



.create_account {
    max-width: 1280px;
    margin: 0 auto;
    background-color:  rgba(43, 43, 43, 1) ;
}

.create_account__block {
    display: flex;
    gap: 60px;
}
   
.create_account__form {
    display: flex;
    max-width: 610px;
    flex-direction: column;
    row-gap: 30px;
    justify-content: flex-start;
    align-items: start;
}

.create_account__title {
    max-width: 460px;
    font-weight: 600;
    font-size: 51px;
    line-height: 56px;
    padding-top: 100px;
    align-items: left;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
}

.create_account__text {
    max-width: 460px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, 1);
    align-items: left;
    letter-spacing: 2px;
} 

.create_account-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create_account_pictures {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 798px) and (max-width: 1023px) {
    .create_account__form {
        display: flex;
        max-width: 375px;
        flex-direction: column;
        row-gap: 20px;
        justify-content: flex-start;
        align-items: start;
    }

    .create_account__title {
        max-width: 325px;
        font-size: 38px;
        line-height: 45px;
        padding-top: 80px;
    }

    .create_account__text {
        max-width: 325px;
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
    } 

    .create_account__block {
        display: flex;
        gap: 40px;
    }

    .create_account_pictures {
        display: flex;
        width: 325px;
        object-fit: cover;
        justify-content: flex-start;

    }

    .create_account__title {
        padding-top: 0px;
    } 

}


@media screen and (min-width: 320px) and (max-width: 798px) {
    .create_account__form {
        max-width: 275px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .create_account__block {
        display: flex;
        margin: auto;
        max-width: 275px;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        column-gap: 30px;
    }

    .create_account_pictures {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .create_account__title {
        padding-top: 0px;
    }

    .btn-button create_button {
        display: flex;
        justify-content: left;
        width: 275px;
        max-height: 46px;
        padding: 0px;
    }

    .create_account-group {
        display: flex;
        max-width: 275px;
    }
}

.wrapper-footer {
    max-width: 1050px;
    padding-bottom: 30px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    border-bottom: 1px solid;
    border-color: rgba(204, 204, 204, 1);
}

.footer__marketplace {
    max-width: 327px;
}

.nav_footer {
    padding-left: 0px;
    justify-content: start;
    padding-bottom: 25px;
}

.footer__nav__logo-img {
    padding-bottom: 0px;
}

.footer__nav-list {
    max-width: 238px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
}

.nav-link_tittle {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
}

.nav-link_text {
    padding-top: 20px;
    color: rgba(204, 204, 204, 1);
}
 
.footer__nav-list_icon {
    max-width: 158px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: rgba(204, 204, 204, 1);
}
  
.footer__nav-item_icon {
    padding-top: 15px;
    max-width: 32px;
}

.nav-link__footer {
    display: flex;
    justify-content: space-between;
}
    
.footer__explore {
    max-width: 240px;
}

.footer__join {
    max-width: 420px;
}

.join-btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    max-height: 60px;
    background-color: rgba(249, 249, 249, 1);
    color: rgba(43, 43, 43, 1);
    border-radius: 20px;
    max-height: 60px;   
    padding-left: 20px;
}

.join-btn {
    display: flex;
    justify-content: center;
    max-width: 209px;
    align-items: center;
    column-gap: 16px;
    padding: 14px 12px 19px 20px;
}

.join-btn-text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
}

.join-button {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(162, 89, 255, 1);
    padding: 0px 50px 19px 50px;
    max-width: 179px;
    max-height: 60px;
    border-radius: 20px;
    align-content: stretch;
}

.join-link {
    color: rgba(255, 255, 255, 1);
    max-width: 79px;
    max-height: 60px;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 19px;
    padding-top: 20px;
}

.footer_link_last {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.nav-link_last {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    color: rgba(204, 204, 204, 1) ;
}

.btn-group_footer{
    display: none;
}

@media screen and (min-width: 798px) and (max-width: 1023px) {
    .wrapper-footer {
        max-width: 690px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
    }

    .footer__explore {
        padding-bottom: 30px;
    }
    
    .footer__join {
        padding-bottom: 30px;
    }

    .footer__marketplace {
        padding-bottom: 30px;
    }
}


@media screen and (min-width: 320px) and (max-width: 798px) {
    .wrapper-footer {
        max-width: 315px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
    }

    .footer__explore {
        padding-bottom: 30px;
    }
    
    .footer__join {
        padding-bottom: 30px;
    }

    .footer__marketplace {
        padding-bottom: 30px;
    }

    .btn-button_create_button button_confirm_footer {
        display: flex;
        justify-content: left;
        width: 315px; 
    }
    
    .button_confirm_footer {
        display: flex;
        justify-content: center;
        background-color: rgba(162, 89, 255, 1);
    
    }
    .join-button {
        display: none;
    }

    .btn-group {
        display: flex;
        padding-top: 16px;
        padding-bottom: 30px; 
    }

    .link_confirm_footer {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 22px;
        max-height: 46px;
    }

    .link_confirm_footer:hover {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 22px;
    }

    .create_button_link:hover {
        background-color: rgb(107, 102, 113);
        color: rgb(126, 68, 126);
    }   
}